body {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
  }
  
  .cards {
    width: 90%; /* Reduzindo um pouco a largura para acomodar 5 cards por linha */
    max-width: 1200px; /* Definindo uma largura máxima para evitar que os cards fiquem muito grandes em telas maiores */
    margin: 0 auto; /* Centralizando os cards horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuição uniforme dos cards */
  }
  
  #indisponivel {
    background-color: rgb(36, 37, 37);
  }
  
  .card  {
    background-color: rgb(58, 185, 113);
    margin: 10px; /* Ajuste de margem para deixar espaço entre os cards */
    position: relative;
    width: calc((100% / 5) - 20px); /* Calculando a largura para 5 cards por linha */
    max-width: 250px;
    min-width: 200px; /* Definindo uma largura mínima para evitar que os cards fiquem muito estreitos */
    height: 350px; /* Definindo altura fixa */
    box-shadow: 0 40px 60px -6px black;
    overflow: hidden; /* Adicionando overflow: hidden; */
  }
  
  .card-title {
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #73a8f9;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 60px; /* Definindo uma altura fixa para todos os títulos dos cards */
    overflow: hidden; /* Adicionando overflow: hidden para garantir a altura fixa */
    margin-bottom: 5px; /* Adicionando uma margem inferior de 10px */
  }
  
  
  .card img {
    width: 100%;
    height: auto; /* Definindo altura automática para manter as proporções da imagem */
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: #73a8f9;
    color: white;
    transition: 0.5s ease;
  }
  
  .card:hover .card-desc {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  
  .titlebooks {
    font-size: 2.5rem;
    color: #fff;
    margin: 40px 0 20px 0;
    text-align: center;
  }
  
  #cardbtn {
    margin-top: 20px;
  }
  